body {
	margin: 0;
	font-family: Arial;
}
h2 {
	font-size: 12pt;
	margin: 1px;
}
.gui {
	display: inline-block;
	background: #cccccc;
	width: 50%;
}
.doc {
	display: inline-block;
	
}
.sld-doc {
	background: #eeeeee;
	padding: 10px;
}
.type-block {
	background: #dddddd;
	padding: 10px;	
	border: 1px solid white
}
.type-block:hover {
	border: 1px solid red
}
.block-name {
	font-weight: bold;
}
.depth-odd {
	background: #dddddd;
	padding: 10px;
}
.depth-even {
	background: #eeeeee;
	padding: 10px;
}

.ctl-add {
	font-size: 10pt;
	font-style: italic;
	padding: 3px;
	cursor: pointer;
	color: blue;	
}
.ctl-add:hover {
	color: #6666ff;;
}
.option-value {
	font-size: 10pt;
	xfont-style: italic;
	padding: 3px;
	cursor: pointer;
	color: blue;	
}
.option-value:hover {
	color: #6666ff;;
}