body {
	margin: 0;
	font-family: Arial;
}
h2 {
	font-size: 12pt;
	margin: 1px;
}
input {
	border-color: white;
	padding: 2px;
}
.header {
	background: #cccccc;
	padding: 5px;
}
.gui {
	display: inline-block;
	background: #cccccc;
	width: 50%;
}
.doc {
	display: inline-block;
	font-family: monospace;	
	vertical-align: top;
}
.doc p {
	margin: 0px;
}
.sld-doc {
	background: #eeeeee;
	padding: 10px;
}
.type-block {
	background: #dddddd;
	padding: 3px 0px 3px 8px;	
	border: 1px solid white
}
.type-block:hover {
	border: 1px solid #888888;
	background: #e8efe8;
}
.type-value {
	font-size: 12px;
	padding: 2px 0px 2px 16px;
}
.type-value:hover {
	xborder: 1px solid #888888;
	background: #bbbbbb;
}

.block-name {
	font-weight: bold;
	font-family: monospace;
    font-size: 14px;
}
.value-title {
	margin-right: 5px;
}
.color-swatch {
	width: 18px;
	height: 18px;
	display: inline-block;
	border: 3px solid white;
	margin-left: 5px;
	vertical-align: middle;
}
.color-error {
	background: transparent;
	border-color: red;
}
.depth-odd {
	background: #d8d8d8;
}
.depth-even {
	background: #e8e8e8;
}
.menu {
	margin-left: 5px;
	display: inline-block;
	color: #a0a0ff;	
}
.menu:hover {
	color: blue;
}
.menu-item {
	font-size: 9pt;
	padding: 3px;
	cursor: pointer;
	display:inline-block;
}
.menu-item:hover {
	color: darkred;
}
	
.ctl-add {
	font-style: italic;
}
.ctl-option {
}
.ctl-disabled {
	color: #aaaaaa;
}
.ctl-disabled:hover {
	color: #aaaaaa;
}
.ctl-delete {
	color: red;
	font-size: 12px;
	font-weight: bold;
	padding: 2px;
	cursor: pointer;
	margin-right: 3px;
}
.ctl-delete:hover {
	color: darkred;
}


